.lista-trabalhos {
    list-style: none;
    padding: 0;
}
.lista-trabalho__item {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 50px;
}
.lista-trabalho__item a {
    text-decoration: none;
}
.lista-trabalhos__titulo {
    color: #3a3a3a;
    font-size: 1.125em;
    margin-left: 15px;
    border-left: 1px solid #000;
    padding-left: 10px;
}