.rodape {
    color: #fff;
}
.rodape .logo {
    margin-bottom: 20px;
}
.rodape__linha-1 {
    background-color: #272525;
    padding: 15px;
    background-image: url('../img/rodape-bg.jpg');
    background-size: cover;
}
.rodape__coluna {
    margin-top: 40px;
    margin-bottom: 30px;
}
.rodape__linha-2 {
    background-color: #000;
    text-align: center;
    padding: 15px;
}
.rodape__titulo {
    border-bottom: 1px solid #fff;
    padding: 0 10px 10px 10px;
    font-size: 18px;
}
.rodape__lista-links {
    padding: 0;
    list-style: none;

    &__item {
        color: #fff;
        text-decoration: none;
        /* For this space margin-bottom to function, we need use display: block */
        display: block;
        margin-bottom: 10px;

        &::before {
            content: '>';
            margin-right: 8px;
            color: $cor-principal;
        }
    }
}