.pagina-cabecalho {
    background-color: $cor-principal;
    color: #fff;
    padding: 40px 0;
    background-image: url('../img/cabecalho-pagina-bg.jpg');
    background-attachment: fixed;
    padding-top: 140px;

    &__titulo {
        text-align: center;
        text-transform: uppercase;
        
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 50px;
            background-color: #fff;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}
